/* fonts and global styles */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.text-info {
    color: #727272;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.25rem;
}

.btn-primary {
    padding: 14px 18px;
    border: none;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
}

.section-title {
    color: #131313;
    font-size: 2.25rem;
    font-weight: 700;
}

.section-center {
    text-align: center;
    max-width: 430px;
    margin: 0 auto;
}

.section-center p {
    margin: 18px;
}

/* header styles */
header {
    background: rgba(255, 144, 14, 0.12);
}

nav {
    display: block;
    margin: 0 auto;
    max-width: 1140px;

}

.top-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}

.top-nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.top-nav h1 {
    color: #131313;
    font-size: 2.25rem;
    font-weight: 700;
}

.top-nav ul {
    color: #424242;
    font-size: 1rem;
    font-weight: 500;
    line-height: 26px;
}

.header-text {
    max-width: 680px;
    padding: 10px;
    text-align: center;
    margin: 90px auto 0;
}

.header-text h2 {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.header-text p {
    margin-bottom: 25px;
}

.header-img {
    margin: 38px auto;
    max-width: 1140px;
}

.header-img img {
    max-width: 100%;
    min-height: 230px;
    object-fit: cover;
    padding: 0 10px 30px;
}

/* main section  */
main {
    max-width: 1140px;
    margin: 0 auto;
    padding: 10px;
}


/* feature section  */
.feature {
    display: flex;
    align-items: center;
}

.feature-box {
    flex-basis: 50%;
}

.feature-img {
    display: grid;
    gap: 18px;
    grid-template-columns: repeat(2, 1fr);
}

.feature-img img {
    max-width: 100%;
}

.feature-text {
    padding: 10%;
}

.feature-text p {
    margin-bottom: 1rem;
}

.feature-box h3,
.feature-box p,
.feature-box button {
    margin-bottom: 24px;
}

/* feature-list */
.feature-list {
    margin-top: 100px;
    display: flex;
    gap: 20px 80px;
    justify-content: space-between;
}

.feature-list>* {
    flex-basis: 50%;
}

.feature-card-container h2 {
    border-left: 4px solid #FF900E;
    padding-left: 10px;
    margin-bottom: 30px;
}


.badge-parent {
    position: relative;
}

.feature-img-container img {
    max-width: 100%;

}

.card {
    padding: 24px;
    margin-top: 16px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.07);
}

.card h4,
p {
    margin-bottom: 6px;
}

.card h4 {
    color: #131313;
    font-size: 1rem;
    font-weight: 600;
}

.badge {
    position: absolute;
    bottom: -50px;
    left: -50px;
    background: #FF900E;
    border-radius: 6px;
    padding: 28px;
    color: #FFF;
    text-align: center;
}

.badge h4 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 3.5rem;
}

.badge p {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 2rem;
    margin: 0;
}

/* some facts section  */
.facts {
    margin: 80px 0 100px;
}



/* sponsors section  */
.sponsors {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0 100px;
}

.sponsors img {
    height: 40px;
}


/* footer section  */
footer {
    max-width: 1140px;
    margin: 0 auto;
    border-radius: 8px;
    background: #FFF4E7;
    padding: 2rem;
    margin-bottom: 8rem;
}

footer p {
    color: #424242;
    text-align: center;
    font-size: 1rem;
}


/* responsive styles */

/* mobile device */
@media screen and (max-width:576px) {

    .header-text h2 {
        font-size: 3rem;
    }

    .header-img img {
        padding: 8px;
    }

    .top-nav,
    .feature,
    .sponsors {
        flex-direction: column;
        text-align: center;
    }

}




/* tab and other medium device */
@media screen and (max-width:960px) {
    .header-text {
        margin-top: 50px;
    }

    .feature-list {
        flex-direction: column;
        margin-top: 50px;
    }

    .feature-img-container {
        text-align: center;
    }

    .badge {
        left: 50%;
        transform: translateX(-50%);
    }

    .sponsors {
        justify-content: center;
    }
}